.icon {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.customTable {
  border-collapse: collapse;
}

.customTable td,
.customTable th {
  border: 2px solid #ccc;
  padding: 8px;
}

.tableHeader {
  background-color: #fdffe5;
  font-weight: bold;
}
